@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

@media only screen and (max-width: 980px) {
.mobile-hide{ display: none !important;
}
}


@media only screen and (min-width: 981px) {
.desktop-hide{ display: none !important;
}
}

@media only screen and (max-width: 980px) {
.mobile-center{

  text-align: center;
  padding-top: 20px;

}
}


@media only screen and (max-width: 980px){
.centralizado-horizontal{

  padding-top: 30%;
}
}

@media only screen and (max-width: 980px){
.centralizado-horizontal-2{

  padding-top: 5%;
}
}

@media only screen and (max-width: 980px) {
.externa {

  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}
}

.container{
  padding-top: 0%;
  min-height:100%;
  text-align:center;
}

.social-buttons{
  display:inline-block;
  padding:20px;
  padding-bottom: 5px;
  border-radius:10px;
  text-align:center;
  margin:20px 10px;

}


.social-margin {
  color: #343434;
  margin-right: 10px;
}


.social-icon {
  margin-bottom: 15px;
  box-sizing: border-box;
  -moz-border-radius: 138px;
  -webkit-border-radius: 138px;
  border-radius: 138px;
  border: 5px solid;
  text-align: center;
  width: 50px;
  height: 50px;
  display: inline-block;
  line-height: 1px;
  padding-top: 11px;
  transition: all 0.5s;
}
.social-icon:hover {
    transform: rotate(360deg)scale(1.3);
  }

 .facebook {
    font-size: 22px;
    padding-top: 9px;
    border-color: white;
    background-color: #343434;
    color: #FFFFFF;

  }

.twitter {
    font-size: 22px;
    padding-top: 10px;
    padding-left: 2px;
    border-color: #FFFFFF;
    background-color: #343434;
    color: #FFFFFF;

  }


  .linkedin {
    font-size: 24px;
    padding-top: 8px;
    padding-left: 1px;
    background-color: #343434;
    color: #ffffff;
    border-color: #FFFFFF;

  }

  .instagram {
    font-size: 22px;
    padding-top: 9px;
    background-color: #343434;
    color: #ffffff;
    border-color: #FFFFFF;

  }


 .github {
    font-size: 22px;
    padding-top: 9px;
    background-color: #343434;
    color: #ffffff;
    border-color: #FFFFFF;
}

html {
  scroll-behavior: smooth;
}
