@font-face {
   font-family: 'Product Sans Regular';
   font-display: swap;
   src: url('file:///C:/Users/ferna/AppData/Local/Mobirise.com/Mobirise/projects/project-2021-01-03_170357/fonts/Product%20Sans%20Regular/font.ttf');
}
